/*
 * === General Styles ===
 */

/* Base style for the body */
body {
  color: #484848;
  font: 14px 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Disable horizontal scroll */
html, body {
  overflow-x: hidden;
  width: 100%;
}

/* Centered container with max width */
.container {
  max-width: 1000px;
  margin: 30px auto;
}

/* Emphasized text style */
strong {
  font-weight: bold;
}
