/*
 * === Page Header Style ===
 */

/* Header Container */
header {
  background-image: url('../images/logo.png');
  background-position: 20px center;
  background-repeat: no-repeat;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 70px;
  width: 100%;
}
