<!DOCTYPE html>
<html lang="en">
<head>
    <title>Unique Version</title>
    <style>
        body {
            margin:0px;
            padding:0px;

            color: #484848;
            font-size: 14px;
            font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
        }

        .container {
            max-width: 1000px;
            margin: 30px auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome</h1>
        <p>This is a unique version of the code.</p>
    </div>
</body>
</html>
