/*
 * === Accommodation Class Styles ===
 */

/* Accommodation style */
.places article {
  border: 2px solid #ff5a5f;
  border-radius: 4px;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  width: 390px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*
 * --- Accommodation header styles ---
 */

/* Primary header style */
.places h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 0.67em 0;
  width: 100%;
  text-align: left;
}

/* Secondary header style */
.places h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  box-sizing: border-box;
  margin: 10px 0;
}
